* {
    box-sizing:border-box;
}

button {
    z-index:1;
}

body, html {
    margin:0;
    border:0px solid red; 
    overflow: hidden;  
}
div {
    overflow-x: hidden;
    overflow-y: hidden;

}
div#stage {
    position: absolute;
    overflow-y:hidden;
    overflow-x:hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#controllerWindow {
    position: relative;
    top: 80%;
    left: 0px;
    width: 100%;
    height: 20%;
    z-index:10000;
    overflow-y:hidden;
    overflow-x:hidden;
}

#leftbutton {
    /* position: relative; */
    top: 0%;
    left: 0%;
    width: 19%;
    height: 100%;
    float: left;
}

#leftbutton img {
    width: 100%;
    height: 100%;
    border:0px solid red;
}
#leftbutton:hover
    {
    box-shadow: 0px 0px 0px rgba(255,255,255,0.8) inset, 0px 0px 0px rgba(0,0,0,0.4);
    transform: scale(0.95);
    opacity: 0.8;
}
#leftbutton:active {
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 0px 0px 0px rgba(0,0,0,0.4);
    transform: scale(0.98);
    opacity: 1;
}

#logo{
    position:relative;
    top: 0%;
    margin-left:0%;
    /* margin-right: 2%; */
    margin-top: 0%;
    width: 20%;
    height: 90%;
    float:left;
}
#logo img {
        width: 100%;
        height: 100%;
        border: 0px solid red;
}

#logo img slipLeft{
    rotation:120deg;
}
 
#logo img slipRight{
    rotation:350deg;
}

#rightbutton {
    position:relative;
    top:0%;
    right: 0%;
    width: 19%;
    height: 100%;
    float: right;
}
#rightbutton img {
    width: 100%;
    height: 100%;
    border: 0px solid red;
}

#teamcaptionbutton {
    font-size: xx-large;
    max-width:40%;
    max-height:20%;

    position:relative;
    top: 2%;
    left: -5%;
    width:40%;
    height:80%;
    float: left;
    z-index:1000;
    -webkit-margin-before:0em;
    -webkit-margin-before:0em;
    text-shadow: 4px 4px 4px #000,
	 -2px -2px 2px #F00,
	 -2px 2px 1px #0F0,
	  2px -2px 1px #00F;
}

#rightbutton:hover
{
    box-shadow: 0px 0px 0px rgba(255,255,255,0.8) inset, 0px 0px 0px rgba(0,0,0,0.4);
    transform: scale(0.95);
    opacity: 0.8;
}
#rightbutton:active
{
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 5px rgba(0,0,0,0.4);
    transform: scale(0.98);
    opacity: 1;
}